body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    background-color: lightgrey;
    margin: 0px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    font-size: 17pt;
 }

 @media (prefers-color-scheme: light) {
    #nav-bar {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    #nav-bar {
        background-color: black;
        color: white;
    }
}

 #nav-bar{     
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
 }

 #page-content{
     padding-top: 10px;
 }
 #sign-info{ 
     width: 100%;
     margin-left: -10px;
 }
 #sign-info tr{
     padding-top: 10px;
     text-align: center;
 }

 .quant {
    font-weight: 700;
 }

 .time {
     color: green;
 }